<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
	<div class="text-center ">
		<h1 class="font-weight-bold">Smart Contact Manager</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptate
		 cum quaerat ex autem unde recusandae animi perspiciatis sequi atque ea possimus molestias 
		 optio minus ullam similique beatae harum nisi.</p>
		 <button class="btn btn-primary btn-lg text-white"> Get Started</button>
	 </div>
</section>
</body>
</html>