<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">

<head>
<title>Home Page</title>
</head>
<body>
	<section>
		<div class="container ">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card mt-3">
						<h1 class="text-center">Register Here</h1>
						<div th:if="${message}" th:classappend="${message.message}" class="alert alert-dismissible  fade show" role="alert">
						 <p th:text="${message.content}"></p>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						
						<form th:action="@{/do_register}" method="POST" th:object="${user}">

							<div class="form-group">
								<label for="name">Your Name</label> 
								<input
									th:value="${user.name}"
									name="name"
									type="text" 
									th:class="${#fields.hasErrors('name')} ? 'form-control is-invalid' : 'form-control'"
									 id="name"
									aria-describedby="emailHelp" placeholder="Enter Name here" >
							<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
					        </div>
									
									
								
							</div>
							
							<div class="form-group">
								<label for="email">Your Email</label> 
								<input
								th:value="${user.email}"
								name="email"
									type="email" class="form-control" id="email"
									aria-describedby="emailHelp" placeholder="Enter Email here" required="required">
								
							</div>
							
							<div class="form-group">
								<label for="password">Your Password</label> 
								<input
									name="password"
									type="password" class="form-control" id="password"
									aria-describedby="emailHelp" placeholder="Enter password here" required="required">
								
							</div>
							
							<div class="form-group">
								<textarea name="about" th:text="${user.about}" placeholder="Enter Something yourself" rows="10" class="form-control"></textarea>
							</div>
							<div class="from-group form-check">
								<input type="checkbox" class="form-check-input" id="agreement" name="agreement">
								<label for="agreement">Accept tearms and conditions</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="btn bg-primary btn-block text-white">Submit</button>
								<button type="reset" class="btn btn-warning btn-block text-white">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


	</section>
</body>
</html>